__pycache__/
*.pyc
*.pyo
*.pyd
/venv/
/.venv/
/runtime/
/deps/
*.otf
*.ttf
*.pt
*.onnx
/models/.locks/
/models/flux/
/models/sam/
/models/upscale/
/models/yolo/
/models/manga-ocr-base/
/output/
.DS_Store
Thumbs.db
/.vscode/
*.log
a.py
fonts/
run.bat